.collpase_title {
    cursor: pointer;
    background-color: #ccfffa;
  }
  
  .caret {
    vertical-align: middle;
  }
  
  .tscode {
    padding: 0 !important;
  }
  
  .filename-btn {
    margin-bottom: 0px;
    padding: 0;
  }